input {
  padding: 15px;
  margin: 5px 0 20px 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-radius: 10px;
}

label {
  color:rgba(0, 0, 0, 0.616)
}

span {
  font-size: 14px;
  color: red; 
  transform: translateY(-20px);
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}