*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #root {
  background-color: rgb(235, 193, 193);
} */


.App {
  padding: 1em 0;
  width: 70%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1,
h2 {
  margin-bottom: 4em;
  color: teal;
  text-align: center;
}

h3 {
  color: teal;
  text-align: center;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-shape {
  width: 30px;
  height: 30px;
  background-color: rgb(8, 82, 82);
  border-radius: 100px;
  margin-right: .2em;
  position: relative;
}

.logo-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.logo-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(8, 82, 82);
  width: 10px;
  height: 10px;
  border-radius: 100px;
}


.logo p {
  color: rgb(8, 82, 82);
}

.nav-list {
  display: flex;
  gap: 1.8em;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-transform: uppercase;
  color: rgb(8, 82, 82);
  font-size: 1.2rem;
  transition: all 0.7s;
}

.nav-link:hover {
  display: block;
  transform: scale(1.1);
}



.homePage {
  padding: 2em 0;
}

.registerPage {
  padding: 2em 0 4em 0;
}


.loginPage {
  padding: 0 0 2em 0;
}




button {
  padding: .6em 1.5em;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: #018888;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: .8em;
  transition: all .5s;
}

button:hover {
  background-color: rgb(0, 117, 117);
}

.chart-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
}

.chart-legend {
  color: rgb(8, 82, 82);
}

.chart-legend li {
  margin-bottom: 1em;
}

.chart-legend li small {
  font-size: 12px;
}


.pieChart {
  margin-top: 0;
}

.animation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.loginPage {
  padding: 7em 0;
}




/* Media Queries */

@media (max-width: 700px) {
  .App {
    width: 90%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .chart-legend li {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .chart-container {
    flex-wrap: wrap;
  }

  .chart-legend {
    order: 3;
  }
}